html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(rgb(247, 236, 236), rgb(250, 240, 240), rgb(245, 175, 175));
    height: 100%;
    background-attachment: fixed;
}

body {
    position: relative;
}

header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

section#banner {
    background-image: url("thai_food.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
}

main {
    width: 80%;
    margin: auto;
}

h1 {
    font-weight: lighter;
    color: rgb(48, 48, 48);
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-weight: lighter;
    color: rgb(48, 48, 48);
    margin-top: 0;
    padding-top: 0;
}

nav {
    background-color: rgb(247, 236, 236);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    padding: 0 10px;
}

nav a,
nav a:visited {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: rgb(46, 46, 46);
    transition: background-color .5s, border-left .5s;
}

nav a:hover {
    background-color: rgb(245, 175, 175);
    border-left: 7px solid white;
}

div {
    border: 1px solid gray;
    border-radius: 300px;
    height: 200px;
    width: 200px;
    background-image: url("t.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    margin: 5px 20px 5px 0;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, .7));
    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, .5);
}

footer {
    position: relative;
    bottom: 0%;
    width: 98.4%;
    font-size: small;
    color: white;
    background-color: gray;
    display: block;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    div {
        width: 200px;
        height: 200px;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    footer {
        position: relative;
        height: 100%;
        width: auto;
    }
}